<section>
    <div class="row">
        <div class="col-sm-1">
            <button class="btn btn-transperent" (click)="goBack()" matTooltip="Go Back" matTooltipPosition="left"><i
                    class="fa fa-arrow-circle-o-left" style="font-size:30px"></i></button>
        </div>
        <div class="col-sm-11 text-center">
            <h5>Resume</h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="Info"> Content 1 </mat-tab>
                <mat-tab label="Projects"> Content 2 </mat-tab>
                <mat-tab label="Hobbies"> Content 3 </mat-tab>
                <mat-tab label="Notes"> Content 4 </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>