<section>
    <div class="row">
        <div class="col-4">
            <button class="btn btn-transperent" (click)="goBack()" matTooltip="Go Back" matTooltipPosition="left"><i
                    class="fa fa-arrow-circle-o-left" style="font-size:30px"></i></button>
        </div>
        <div class="col-4 text-center">
            <h5>Resume
                <!--of <span class="text-muted">{{empName}}</span>-->
            </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="Info">
                    <div class="mt-4 text-justify">
                        <p>{{about}}</p>
                    </div>
                </mat-tab>
                <mat-tab label="Projects">
                    <div class="mt-4 text-justify">
                        <table class="table table-borderless table-hover">
                            <tbody>
                                <tr *ngFor="let project of projectsArr; let i = index">
                                    <td width="10%" class="text-left"><strong>{{i+1}}.</strong></td>
                                    <td width="80%" class="text-left">
                                        <h6>{{project.projectName}}</h6>
                                        <p class="text-muted">{{project.projectDesc}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Hobbies">
                    <div class="mt-4 text-justify">
                        <table class="table table-borderless table-hover">
                            <tbody>
                                <tr *ngFor="let hobbie of hobbies; let i = index">
                                    <td width="10%" class="text-left"><strong>{{i+1}}.</strong></td>
                                    <td width="80%" class="text-left">
                                        <h6>{{hobbie}}</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Notes">
                    <div class="mt-4 text-justify">
                        <p>{{notes}}</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>