<section>
    <div class="row">
        <div class="col-4">
            <button class="btn btn-transperent" (click)="goBack()" matTooltip="Go Back" matTooltipPosition="left"><i
                    class="fa fa-arrow-circle-o-left" style="font-size:30px"></i></button>
        </div>
        <div class="col-4 text-center">
            <h5>Employee List</h5>
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-6">
            <button class="btn btn-info add-btn" data-toggle="modal" data-target="#addEmpModal" (click)="addEmployee()">Add
                Employee</button>
        </div>
        <div class="col-6 col-md-4">
            <input type="text" class="form-control" placeholder="Search..." (keyup)="filterByName(searchKey.value)"
                #searchKey>
        </div>
    </div>

    <div class="search-result mat-elevation-z8 mt-3" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <table mat-table [dataSource]="dataSource" matSort class="table-hover data-table">

            <!-- Position Column -->
            <ng-container matColumnDef="empId">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-light"> Emp ID </th>
                <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-light"> Name </th>
                <td mat-cell *matCellDef="let element" class="empNameLink pointer" (click)="redirect(element.id)">
                    {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="designation">
                <th mat-sort-header mat-header-cell *matHeaderCellDef class="bg-light"> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="bg-light"> </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <a class="btn text-info pointer" (click)="editEmployee(element)" data-toggle="modal"
                        data-dismiss="modal" matTooltip="Update Employee" data-target="#addEmpModal"><i
                            class="fa fa-edit"></i></a>
                    <a *ngIf="role==='admin'" class="btn text-danger pointer" (click)="deleteEmployee(element)"
                        matTooltip="Delete Employee"><i class="fa fa-trash"></i></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
        </mat-paginator>
    </div>


    <!-- <div class="search-result" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">

        <table class="table table-hover mt-3 shadow">
            <thead class="bg-light">
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let emp of empData | searchName: searchKey.value ">
                    <td>{{emp.empId}}</td>
                    <td class="empNameLink pointer"><a (click)="redirect(emp.id)">{{emp.firstName}} {{emp.lastName}}</a>
                    </td>
                    <td>{{emp.designation}}</td>
                    <td class="text-center">
                        <a class="btn text-info pointer" (click)="editEmployee(emp)" data-toggle="modal"
                            data-dismiss="modal" matTooltip="Update Employee" data-target="#addEmpModal"><i
                                class="fa fa-edit"></i></a>
                        <a *ngIf="role==='admin'" class="btn text-danger pointer" (click)="deleteEmployee(emp)"
                            matTooltip="Delete Employee"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <div class="row pb-5">
        <div class="col-md-12 p-5">
            <ngx-spinner bdOpacity="0.9" bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                [fullScreen]="false">
            </ngx-spinner>
        </div>
    </div>

</section>

<div id="addEmpModal" class="modal fade" role="dialog" #empFormModal>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formHeader}}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid" (change)="onFormChange()">
                    <input type="hidden" name="id" #empId="ngModel" [(ngModel)]="id"
                        [ngModelOptions]="{standalone: true}">
                    <div class="row col-md-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" formControlName="firstName"
                                    placeholder="Enter First Name"
                                    [ngClass]="{'is-invalid':formGroup.get('firstName').touched && formGroup.get('firstName').invalid}">
                                <div class="invalid-feedback">
                                    <p>Field is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" placeholder="Enter Last Name"
                                    formControlName="lastName"
                                    [ngClass]="{'is-invalid': formGroup.get('lastName').touched && formGroup.get('lastName').invalid}">
                                <div class="invalid-feedback">
                                    <p>Field is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <input type="text" class="form-control" placeholder="Enter Designation"
                                    formControlName="designation"
                                    [ngClass]="{'is-invalid': formGroup.get('designation').touched && formGroup.get('designation').invalid}">
                                <div class="invalid-feedback">
                                    <p>Field is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Enter Email"
                                    formControlName="email"
                                    [ngClass]="{'is-invalid': formGroup.get('email').touched && formGroup.get('email').invalid}">
                                <div *ngIf="formGroup.get('email').touched && formGroup.get('email').invalid"
                                    class="invalid-feedback">
                                    <p *ngIf="formGroup.get('email').errors.required">Email is required</p>
                                    <p *ngIf="formGroup.get('email').errors.email">Invalid Email</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="mobile">Mobile No.</label>
                                <input type="text" class="form-control" placeholder="Enter Mobile No."
                                    formControlName="mobile" maxlength="10"
                                    [ngClass]="{'is-invalid': formGroup.get('mobile').touched && formGroup.get('mobile').invalid}">
                                <div *ngIf="formGroup.get('mobile').touched && formGroup.get('mobile').invalid"
                                    class="invalid-feedback">
                                    <p *ngIf="formGroup.get('mobile').errors.required">Field is required</p>
                                    <p
                                        *ngIf="formGroup.get('mobile').invalid && !formGroup.get('mobile').errors.required">
                                        Invalid Mobile No.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="">Gender</label>
                                <select formControlName="gender" class="form-control"
                                    [ngClass]="{'is-invalid': formGroup.get('gender').touched && formGroup.get('gender').invalid}">
                                    <option value="male">Male</option>
                                    <option value="felame">Female</option>
                                </select>
                                <div class="invalid-feedback">
                                    <p>Field is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" placeholder="Enter Full Address"
                                    formControlName="address"
                                    [ngClass]="{'is-invalid': formGroup.get('address').touched && formGroup.get('address').invalid}">
                                <div class="invalid-feedback">
                                    <p>Field is required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-info mr-2" [disabled]="!formGroup.valid || isDisabled"
                                data-dismiss="modal" data-target="#addEmpModal"
                                (click)="onSubmit()">{{btnLabel}}</button>
                            <button type="button" class="btn btn-info" data-dismiss="modal" #closeModal>Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>