<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">TexT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="openDialog()">Login</a>
        </li>
    </ul>
</nav> -->

<nav class="navbar navbar-toggleable-sm  bg-inverse navbar-dark bg-dark sticky-top">
    <!-- <img src="assets/images/logo.png" class="img" alt="" style="height:50px;"> -->
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="">Persistent System Ltd.</a>
        </li>
    </ul>
    <a class="btn btn-default bg-light" (click)="openDialog()" style="border: 1px solid white;" [hidden]="!isLogin">Login</a>
    <a class="btn btn-default bg-light" (click)="logout()" style="border: 1px solid white;" [hidden]="isLogin">Logout</a>

</nav>