i:hover {
    color: #17a2ba;
}

.pointer{
    cursor: pointer;
}

@media (max-width: 786px){
    .details {
        margin-top:20px;
        margin-left:10px;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px){
    .add-details{
        margin-top: 50px;
    }
}

.col-7 {
    border-bottom: 1px solid #e0e0e0;
}

.details .row {
    padding-right: 30px !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 40%;
}

.tbody {
    border: none;
}