<section>
    <div class="row">
        <div class="col-sm-1">
            <button class="btn btn-transperent" (click)="goBack()" matTooltip="Go Back" matTooltipPosition="left"><i
                    class="fa fa-arrow-circle-o-left" style="font-size:30px"></i></button>
        </div>
        <div class="col-sm-9 text-center">
            <h5>Employee Details</h5>
        </div>
        <div class="col-sm-2">
            <a routerLink="resume" class="btn text-info">Flip To Resume</a>
        </div>
    </div>
    <hr>
    <div class="row mt-5" style="padding-left:200px;">
        <div class="col-md-4 text-center">
            <img src="assets/images/user.png" class="img-thumbnail">
        </div>
        <div class="col-md-8 px-5" style="line-height: 35px;">
            <strong>Emp Code : </strong> 1000 <br>
            <strong>Name : </strong> {{empData.firstName}} {{empData.lastName}} <br>
            <strong>Designation : </strong> {{empData.designation}} <br>
            <strong>Email : </strong> {{empData.email}} <br>
            <strong>Mobile : </strong> {{empData.mobile}} <br>
            <strong>Address : </strong> {{empData.address}} <br>
        </div>
    </div>
</section>
