@media (min-width:768px)  {
    #contents {
        font-size: 30px;
        font-weight: 500;
    }
}

@media (max-width:768px)  {
    #contents {
        font-size: 18px;
        font-weight: 500;
    }
}
